.container-new {
	background-image: url(../images/bg.gif);
	background-position: 0 0;
	background-repeat: repeat;
	width: 1024px !important;
	overflow: hidden;
}

.container-new .navbar.main {
	background: #272727; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI3MjcyNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzE0MTMxMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNDAyMDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #272727 0%, #141312 50%, #040201 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#272727), color-stop(50%,#141312), color-stop(100%,#040201)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #272727 0%,#141312 50%,#040201 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #272727 0%,#141312 50%,#040201 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #272727 0%,#141312 50%,#040201 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #272727 0%,#141312 50%,#040201 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272727', endColorstr='#040201',GradientType=0 ); /* IE6-8 */
	border-bottom: #201f1e 1px solid;
	box-shadow: #888 0 3px 5px;
	-webkit-box-shadow: #888 0 3px 5px;
	-moz-box-shadow: #888 0 3px 5px;
	padding-right: 10px;
	height: 50px;
}

.container-new .icon-home {
	background-image: url(../images/icon-home.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 27px;
	height: 22px;
	display: inline-block;
	vertical-align: middle;
}

.container-new .icon-scan {
	background-image: url(../images/icon-scan.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 24px;
	height: 19px;
	display: inline-block;
	vertical-align: middle;
}

.container-new .icon-print {
	background-image: url(../images/icon-print.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 23px;
	height: 22px;
	display: inline-block;
	vertical-align: middle;
}

.container-new .icon-wrapper {
	background-image: url(../images/tag.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	margin-right: 2px;
	padding: 0 15px 0 0;
	text-align: center;
	width: 55px;
	height: 50px;
	float: left;
	position: relative;
}

.container-new .icon-wrapper a {
	background-position: center center;
	width: 55px;
	height: 50px;
}

.container-new .tlogo {
	font-family: Helvetica, Arial,  sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #fff;
	line-height: 49px;
}

.container-new .navbar.main .button {
	margin-left: 13px;
}

.container-new  .search-form {
	padding: 7px 0 0 0;
	float: left;
	position: relative;
}

.container-new  .search-form input {
	background: none;
	background-color: #eeece9;
	background-image: url(../images/icon-search.png);
	background-position: 10px 6px;
	background-repeat: no-repeat;
	border: #42544c 2px solid;
	box-shadow: #d4d2cf 0 0 12px inset;
	-moz-box-shadow: #d4d2cf 0 0 12px inset;
	-webkit-box-shadow: #d4d2cf 0 0 12px inset;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin: 0 10px 0 0;
	padding: 8px 0 8px 42px;
	font-family: Helvetica, Ariel, sans-serif;
	font-size: 15px;
	color: #8f8f8f;
	font-weight: bold;
	line-height: 15px;
	width: 237px;
	height: 15px;
	float: left;
}

.container-new  .search-form input[type='submit'] ,  {
	background: none;
	background: #9ed65b; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiM5ZWQ2NWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiM4NmJkNDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #9ed65b 50%, #86bd43 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#9ed65b), color-stop(50%,#86bd43)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #9ed65b 50%,#86bd43 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #9ed65b 50%,#86bd43 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #9ed65b 50%,#86bd43 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #9ed65b 50%,#86bd43 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ed65b', endColorstr='#86bd43',GradientType=0 ); /* IE6-8 */
	border: #476c18 1px solid;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin: 1px 10px 0 0;
	padding: 0;
	font-family: Helvetica, Ariel, sans-serif;
	font-size: 15px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	line-height: 33px;
	text-shadow: #80b048 0 -1px 0;
	width: 80px;
	height: 33px;
	cursor: pointer;
}
.container-new  .search-form input[type='button'] {
    background: none;
    background: #9ed65b; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiM5ZWQ2NWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiM4NmJkNDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #9ed65b 50%, #86bd43 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#9ed65b), color-stop(50%,#86bd43)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #9ed65b 50%,#86bd43 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #9ed65b 50%,#86bd43 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #9ed65b 50%,#86bd43 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #9ed65b 50%,#86bd43 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ed65b', endColorstr='#86bd43',GradientType=0 ); /* IE6-8 */
    border: #476c18 1px solid;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin: 1px 10px 0 0;
    padding: 0;
    font-family: Helvetica, Ariel, sans-serif;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 33px;
    text-shadow: #80b048 0 -1px 0;
    width: 80px;
    height: 33px;
    cursor: pointer;
}
.container-new  .search-form .error-msg {
	background-image: url(../images/arrow.png);
	background-position: right center;
	background-repeat: no-repeat;
	padding: 0 6px 0 0;
	top: 7px;
	left: -31%;
	position: absolute;
}

.container-new  .search-form .error-msg span {
	background: #a92536; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E5MjUzNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5MzIwMmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #a92536 0%, #93202e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a92536), color-stop(100%,#93202e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a92536 0%,#93202e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a92536 0%,#93202e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a92536 0%,#93202e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a92536 0%,#93202e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a92536', endColorstr='#93202e',GradientType=0 ); /* IE6-8 */
	border: #000 1px solid;
	border-right: none;
	padding: 8px 22px 8px 15px;
	font-family: Helvetica, Ariel, sans-serif;
	font-size: 15px;
	color: #e5b8bd;
	line-height: 17px;
	font-weight: bold;
	text-align: center;
	display: block;
}

.container-new  .search-form input.error {
	color: #a2414d !important;
}

.container-new .button {
	background: none;
	background: #8b8b8b; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiM4YjhiOGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiM1YzVjNWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #8b8b8b 50%, #5c5c5c 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#8b8b8b), color-stop(50%,#5c5c5c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8b8b8b 50%,#5c5c5c 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8b8b8b 50%,#5c5c5c 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8b8b8b 50%,#5c5c5c 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #8b8b8b 50%,#5c5c5c 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b8b8b', endColorstr='#5c5c5c',GradientType=0 ); /* IE6-8 */
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 0 13px;
	margin: 8px 0 0 0 !important;
	font-family: Helvetica, Ariel, sans-serif;
	font-size: 15px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	text-shadow: #6f6f6f 0 -1px 0;
	line-height: 33px;
	height: 33px;
	vertical-align: middle;

}

.container-new .navbar.main .button {
	float: left !important;
}

.container-new .button .icon {
	margin-right: 10px;
	display: inline-block;
}

.container-new .button-green {
	background: none;
	background: #7eb140; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiM3ZWIxNDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiM2NThmMzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #7eb140 50%, #658f33 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#7eb140), color-stop(50%,#658f33)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7eb140 50%,#658f33 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7eb140 50%,#658f33 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7eb140 50%,#658f33 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #7eb140 50%,#658f33 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7eb140', endColorstr='#658f33',GradientType=0 ); /* IE6-8 */
	border: #787779 1px solid;
	padding: 0 10px 0 13px;
}

.container-new .buttons {
	margin-bottom: 11px;
	text-align: right;
	clear: both;
}

.container-new .button.icon-print {
	font-size: 50px;
	color: #fff;
}

.container-new .button:hover {
	text-decoration: none;
}

.button{text-decoration: none!important}

.container-new .filters {
	background: none;
	margin-right: -50px;
	padding: 14px 9px 5px 12px;
	font-family: Helvetica, Ariel, sans-serif;
	font-size: 14px;
	color: #000;
	line-height: 16px;
	text-shadow: none;
}

.container-new  .icon-refresh {
	background-image: url(../images/icon-refresh.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	margin: 0 5px 0 0;
	width: 26px;
	height: 28px;
	display: inline-block;
	vertical-align: middle;
}

.container-new  .icon-refresh:hover {
	text-decoration: none;
}

.container-new .label {
	background: none;
	padding: 0 4px 0 0;
	margin: 0;
	font-family: Helvetica, Ariel, sans-serif;
	font-size: 14px;
	color: #000;
	font-weight: bold;
	text-shadow: none;
	clear: none;
}

.container-new  .filters .row-fluid {
	margin: 0 4px 0 0;
	display: inline-block;
	float: none;
	width: 116px;
	vertical-align: top;
}


.note{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #F0EDE9
}



.container-new  .row-fluid.row-widest {
	margin-left: 5px;
	width: 175px;
}

.container-new  .row-fluid.row-widest-custom {
    margin-left: 0px;
    width: 175px;
    margin-bottom: 10px
}


.container-new  .row-fluid.row-widerer {
	width: 150px;
}

.container-new  .row-fluid.row-narrow {
	width: 124px;
}

.container-new  .row-fluid.row-wide {
	width: 148px;
}

.container-new  .row-fluid.row-wider {
	width: 150px;	
}

.container-new  .filters  input {
	background: none;
	border: none;
	background-image: url(../images/input-bg.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	margin: 0;
	padding: 5px 33px 7px 15px;
	width: 88px;
	height: 27px;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	font-family: Helvetica, Ariel, sans-serif;
	font-size: 13px;
	color: #000 !important;
	font-weight: bold;
}

.container-new  .filters input:focus {
	color: #000 !important;
}
.container-new  ::-webkit-input-placeholder { color: #000 !important; }
.container-new  ::-moz-placeholder { color: #000 !important; } /* firefox 19+ */
.container-new  :-ms-input-placeholder { color: #000 !important; } /* ie */

.container-new .widget {
	background: none;
	margin-bottom: 2px;
}

.container-new .widget-body {
	background: none !important;
	padding: 0 !important;
	margin: 0 !important;
}

.container-new table.table-bordered {
	background-color: transparent;
	border-collapse: none !important;
	border-spacing: 0 !important;
	border: #a3a3a6 1px solid;
	-webkit-border-radius: 3px !important;
    border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	padding: 0;
	margin: 0;
}

.container-new table.table-bordered thead tr th {
	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	background-color: #7daf3f; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	/*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkYWYzZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2Yzk4MzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #7daf3f 0%, #6c9836 100%); *//* FF3.6+ *//*
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7daf3f), color-stop(100%,#6c9836)); *//* Chrome,Safari4+ *//*
	background: -webkit-linear-gradient(top,  #7daf3f 0%,#6c9836 100%); *//* Chrome10+,Safari5.1+ *//*
	background: -o-linear-gradient(top,  #7daf3f 0%,#6c9836 100%); *//* Opera 11.10+ *//*
	background: -ms-linear-gradient(top,  #7daf3f 0%,#6c9836 100%); *//* IE10+ *//*
	background: linear-gradient(to bottom,  #7daf3f 0%,#6c9836 100%); *//* W3C *//*
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7daf3f', endColorstr='#6c9836',GradientType=0 ); *//* IE6-8 *//*
*/
    border-left: #c2c4c1 1px solid;
	padding: 14px 8px 12px 8px;
	font-family: Helvetica, Ariel, sans-serif;
	font-size: 12px;
	color: #fff;
	line-height: 14px;
	font-weight: bold;
	text-shadow: none;
	text-transform: none;
	vertical-align: middle !important;
}

.container-new table.table-bordered thead tr th:first-child {
	border-left: none;
	-webkit-border-top-left-radius: 2px !important;
    border-top-left-radius: 2px !important;
	-moz-border-radius-topleft: 2px !important;
}

.container-new table.table-bordered thead tr th:last-child {
	-webkit-border-top-right-radius: 2px !important;
    border-top-right-radius: 2px !important;
	-moz-border-radius-rightleft: 2px !important;
}

.container-new table.table-bordered tbody tr td {
	background-color: #f1f2f3;
	margin: 0;
	padding: 12px 0 12px 10px;
	font-family: Helvetica, Ariel, sans-serif;
	font-size: 12px;
	color: #686868;
	line-height: 14px;
	font-weight: normal;
	vertical-align: middle;
	letter-spacing: 0;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	border-left: #c2c4c1 1px solid;
	border-top: #c2c4c1 1px solid;
}

.container-new table.table-bordered tbody tr:nth-child(even) td {
	background-color: #dbdcdd;
}

.container-new table.table-bordered tbody tr td.center {
	padding: 0 5px;
}

.container-new table.table-bordered tbody tr td.red {
	color: #a33441;
}

.container-new table.table-bordered tbody tr td.green {
	color: #6c9836;
}

.container-new table.table-bordered tbody tr td a {
	color: #686868;
	text-decoration: underline;
}

.container-new table.table-bordered tbody tr td a:hover {
	text-decoration: none;
}

.container-new  div.dataTables_info, .container-new  div.dataTables_filter, .container-new  div.dataTables_length, .container-new  div.dataTables_paginate ,
.container-new .dataTables_wrapper .row-fluid:first-child, .container-new .dataTables_wrapper .row-fluid {
	display: none;
}

.container-new  table.dynamicTable.table {
	margin: 0 !important;
}

.container-new .pagination {
	margin-right: 2px;
}

.container-new .pagination , .container-new .pagination  ul {
	background: none !important;
	font-family: Helvetica, Ariel, sans-serif;
	font-weight: bold;
}

.container-new .pagination ul li {
	margin: 0 0 0 5px;
	color: #717171;
	text-shadow: #fff 0 1px 1px;
	float: left;
}

.container-new .pagination ul li a {
	box-shadow: #b6b6b7 0 2px 1px;
	-mox-box-shadow: #b6b6b7 0 2px 1px;
	-webkit-box-shadow: #b6b6b7 0 2px 1px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 0;
	text-align: center;
	color: #717171;
	line-height: 22px;
	width: 22px;
	height: 22px;
	float: none;
	display: inline-block;
}

.container-new .pagination ul li a:hover, .container-new .pagination ul li.active a {
	background: none;
	background-color: #72a139;
	box-shadow: #f0f0f1 0 2px 0, #5c812e 0 0 2px inset;
	-moz-box-shadow: #f0f0f1 0 2px 0, #5c812e 0 0 2px inset;
	-webkit-box-shadow: #f0f0f1 0 2px 0, #5c812e 0 0 2px inset;
	text-shadow: #679234 0 1px 0;
	border-color: #72a139;
	color: #fff;
}

.container-new .clear {
	clear: both;
}

.container-new .filters .dropdown-menu  {
	background-image: url(../images/dropdown-bg.gif);
	background-position: 0 0;
	background-repeat: repeat;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	padding: 0;
	width: auto;
	top: 27px;
	height: auto;
}

.bootstrap-select.btn-group .dropdown-menu li > a {
	border-bottom: #e3e3e3 2px solid;
	padding: 7px 5px 5px 16px;
	font-family: Helvetica, Ariel, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #5a5c5c;
}

.bootstrap-select.btn-group .dropdown-menu li:last-child  a {
	border: none;
}

.bootstrap-select.btn-group .dropdown-menu li:first-child  a {
	display: none;
}

.bootstrap-select.btn-group .dropdown-menu li > a:hover, .bootstrap-select.btn-group .dropdown-menu li > a:focus {
	background: none;
	background: #7daf3f; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkYWYzZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2Yzk4MzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #7daf3f 0%, #6c9836 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7daf3f), color-stop(100%,#6c9836)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7daf3f 0%,#6c9836 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7daf3f 0%,#6c9836 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7daf3f 0%,#6c9836 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7daf3f 0%,#6c9836 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7daf3f', endColorstr='#6c9836',GradientType=0 ); /* IE6-8 */
	color: #fff;
	font-family: Helvetica, Ariel, sans-serif;
	font-weight: bold;
	border: none;
	padding: 7px 5px 7px 16px;
}

.bootstrap-select .btn:focus {
	color: #699534 !important;
}

.btn-group > .dropdown-toggle {
	background: #e8e9ea; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4ZTllYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjOGNhY2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #e8e9ea 0%, #c8cacb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e9ea), color-stop(100%,#c8cacb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e8e9ea 0%,#c8cacb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e8e9ea 0%,#c8cacb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e8e9ea 0%,#c8cacb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e8e9ea 0%,#c8cacb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e9ea', endColorstr='#c8cacb',GradientType=0 ); /* IE6-8 */
	border: #969697 1px solid;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #201d1d;
	text-shadow: none;
	box-shadow: #969697 0 0 2px;
	-moz-box-shadow: #969697 0 0 2px;
	-webkit-box-shadow: #969697 0 0 2px;
}

.bootstrap-select.btn-group .btn .caret {
	background: none !important;
	border: none;
	background-image: url(../images/arrow-select.png) !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	border-left: #bbb9b5 1px solid;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	padding: 0 !important;
	width: 26px;
	height: 100%;
	top: -8px;
	left: auto;
	right: 0;
}

.container-new  .filters .row-fluid.row-widest .bootstrap-select.btn-group {
	width: 105px;
}

.container-new  .filters .pull-right {
	clear: none !important;
	float: right !important;
}

.container-new  .filters .pull-left {
	float: left !important;
}

.container-new  .filters .label {
	margin: 0;
	display: inline;
	line-height: 30px;
}

.container-new  .filters  .timepicker {
	position: relative;
}

.container-new  .filters  .timepicker input {
	background-image: url(../images/timepicker.png);
	width: 65px;
}

.container-new .popup.timedropdown {
	background-image: url(../images/dropdown-bg.gif);
	background-position: 0 0;
	background-repeat: repeat;
	width: 230px;
	box-shadow: #787977 0 5px 5px;
	top: 33px;
	right: 3px;
	position: absolute;
	z-index: 10;
	display: none;
}

.container-new .popup.timedropdown .ui-datepicker-title {
	background: #414142; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQxNDE0MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZDFjMWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #414142 0%, #1d1c1c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#414142), color-stop(100%,#1d1c1c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #414142 0%,#1d1c1c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #414142 0%,#1d1c1c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #414142 0%,#1d1c1c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #414142 0%,#1d1c1c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414142', endColorstr='#1d1c1c',GradientType=0 ); /* IE6-8 */
	padding: 14px 5px 9px 5px;
	font-family: Helvetica, Ariel, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #f5f5f5;
	line-height: 16px;
	text-align: center;
}

.container-new .popup.timedropdown .heading-bar {
	background-color: #e3e3e3;
	margin: 0 -10px 9px -10px;
	padding: 2px 12px 1px 12px;
	font-family: Helvetica, Ariel, sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: #5a5c5c;
	width: 230px;
	float: none;
	display: block;
}

.container-new .popup.timedropdown label {
	margin: 0;
	padding: 0;
	width: 52px;
	vertical-align: middle;
	font-family: Helvetica, Ariel, sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: #2c2c2b;
	vertical-align: middle;
	line-height: 31px;
	float: left;
}

.container-new .popup.timedropdown .line label {
	margin-left: -52px;
}

.container-new .popup.timedropdown .amount {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	width: 101px;
	height: auto;
	clear: none;
	text-align: center;
	font-family: Helvetica, Ariel, sans-serif;
	font-weight: bold;
	font-size: 15px;
	color: #2c2c2b;
	line-height: 17px;
	vertical-align: middle;
}

.container-new .ui-slider-wrap {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	padding: 10px 0 0 0;
	clear: none;
}

.container-new .popup.timedropdown .ui-slider-wrap {
	width: 139px;
}

.container-new .slider-primary {
	background-color: #edeae4;
}

.container-new .ui-slider-wrap .ui-slider-handle {
	background: none;
	background-image: url(../images/slider-handle.png);
	background-position: 0 0;
	background-repeat: repeat;
	width: 27px;
	height: 28px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border: none;
	top: -9px;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.container-new .ui-slider-wrap .ui-slider-range {
	background-color: #9ed85a;
}

.container-new .popup.timedropdown .line {
	padding-left: 52px;
	overflow: hidden;
	width: 162px;
}

.container-new .popup.timedropdown  .buttons {
	margin: 24px 0 12px 0;
	width: 210px;
}

.container-new .popup.timedropdown  .buttons .btn {
	padding: 0;
	font-family: Helvetica, Ariel, sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: #858686;
	text-align: center;
	line-height: 29px;
	width: 66px;
	height:	29px;
	box-shadow: #929292 0 2px 2px;
	-moz-box-shadow: #929292 0 2px 2px;
	-webkit-box-shadow: #929292 0 2px 2px;
	background: #d5d7d7; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q1ZDdkNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiN2I4YjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #d5d7d7 0%, #b7b8b8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5d7d7), color-stop(100%,#b7b8b8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d5d7d7 0%,#b7b8b8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d5d7d7 0%,#b7b8b8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d5d7d7 0%,#b7b8b8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d5d7d7 0%,#b7b8b8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5d7d7', endColorstr='#b7b8b8',GradientType=0 ); /* IE6-8 */
	border: #929292 1px solid;
	text-shadow: none;
}

.container-new .popup.timedropdown  .buttons .btn-success {
	background: #94c856; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk0Yzg1NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZmFiNDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #94c856 0%, #7fab49 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#94c856), color-stop(100%,#7fab49)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #94c856 0%,#7fab49 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #94c856 0%,#7fab49 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #94c856 0%,#7fab49 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #94c856 0%,#7fab49 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94c856', endColorstr='#7fab49',GradientType=0 ); /* IE6-8 */
	color: #fff;
}

.ui-datepicker {
	top: 19.3% !important;
	overflow: hidden;
}

.ui-datepicker .ui-widget-header  {
	background: #414142; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQxNDE0MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZDFjMWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #414142 0%, #1d1c1c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#414142), color-stop(100%,#1d1c1c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #414142 0%,#1d1c1c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #414142 0%,#1d1c1c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #414142 0%,#1d1c1c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #414142 0%,#1d1c1c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414142', endColorstr='#1d1c1c',GradientType=0 ); /* IE6-8 */
	padding: 7px 5px;
	font-family: Helvetica, Ariel, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #f5f5f5;
	line-height: 16px;
	text-align: center;
	border: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.ui-widget-content  {
	background-color: #fff;
	padding: 0 !important;
	border: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.ui-widget-content table {
	padding: 0;
	margin: 0;
}

.ui-datepicker td span, .ui-datepicker td a {
	background-color: #fefefe;
}

.ui-datepicker-next span{
    display: block;
    left: 0!important;
    margin-left: -8px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
}


.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-prev span:hover, .ui-datepicker .ui-datepicker-prev:hover span, .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-prev:hover {
    background-image: url("../images/datepicker-prev.png") !important;
	margin: 0;
	top: 0 !important;
	margin-top: 0;
	background-position: 0 0;
	background-repeat: no-repeat;
	left: 0 !important;
	left: auto;
	width: 42px;
	height: 37px;
	cursor: pointer;
}

.ui-datepicker .ui-datepicker-next span, .ui-datepicker .ui-datepicker-next span:hover, .ui-datepicker .ui-datepicker-next:hover span, .ui-datepicker .ui-datepicker-next, .ui-datepicker .ui-datepicker-next:hover  {


    background-image: url("../images/datepicker-next.png") !important;
	top: 0 !important;
	margin: 0;
	background-position: 0 0;
	background-repeat: no-repeat;
	right: 0 !important;
	width: 42px;
	height: 37px;
	right: auto;
	cursor: pointer;
}


.ui-datepicker th  {
	background: none;
	background-color: #e3e3e3;
	font-family: "HelveticaNeue Medium", Helvetica, Ariel, sans-serif;
	font-size: 9px;
	color: #646464;
	line-height: 11px;
	text-transform: uppercase;
	margin: 0;
	padding: 4px 0 6px 0;
}

.ui-widget-content a  {
	color: #5a5c5c;
}

.ui-datepicker td {
	margin: 0;
	padding: 0;
	border-left: #eeeeee 1px solid !important;
	border-top: #eeeeee 1px solid !important;
}

.ui-datepicker td span, .ui-datepicker td a {
	margin: 0;
	font-family: "HelveticaNeue Bold", Helvetica, Ariel, sans-serif;
	color: #5a5c5c;
	font-size: 13px;
	line-height: 33px;
	padding: 0;
	text-align: center;
	border: none !important;
	margin: 0;
	width: 33px;
	height: 33px;
}

.ui-datepicker  .ui-state-active, .ui-datepicker  .ui-widget-content .ui-state-active, .ui-datepicker  .ui-widget-header .ui-state-active {
	background-color: #72a139;
	color: #fff;
}

#wrapper.black {
	background-color: #000;
}

.panel-choice {
	margin: 100px auto;
	width: 415px;
}

.panel-choice .logo {
	background-image: url("../images/logo-2.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	margin: 0 0 26px 28px;
	width: 364px;
	height: 107px;
	display: inline-block;
}

.panel-choice .options {
	background-image: url("../images/bg.gif");
	background-position: 0 0;
	background-repeat: repeat;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 13px 9px 11px 9px;
}

.panel-choice .options .btn {
	background: none;
	background-image: url("../images/input-popup.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	border: none !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	padding: 28px 26px 28px 22px !important;
	margin: 0 0 5px 0;
	font-family: Helvetica, Ariel, sans-serif;
	font-weight: bold;
	font-size: 19px;
	color: #3d3131;
	line-height: 21px;
	text-align: left;
	width: 348px !important;
	height: 21px !important;
}

.back {
	background: none;
	background-image: url("../images/btn-back.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	padding: 0 0 0 14px;
	margin: 11px 32px 0 -4px;
	line-height: 30px;
	height: 30px;
	overflow: hidden;
	display: inline-block;
	float: left;
}

.back span {
	background: #8b8b8b; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1MyUiIHN0b3AtY29sb3I9IiM4YjhiOGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MyUiIHN0b3AtY29sb3I9IiM1YzVjNWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #8b8b8b 53%, #5c5c5c 53%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(53%,#8b8b8b), color-stop(53%,#5c5c5c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8b8b8b 53%,#5c5c5c 53%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8b8b8b 53%,#5c5c5c 53%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8b8b8b 53%,#5c5c5c 53%); /* IE10+ */
	background: linear-gradient(to bottom,  #8b8b8b 53%,#5c5c5c 53%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b8b8b', endColorstr='#5c5c5c',GradientType=0 ); /* IE6-8 */
	-webkit-border-top-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
	-moz-border-radius-topright: 5px !important;
	-webkit-border-bottom-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
	-moz-border-radius-bottomright: 5px !important;
	margin: 0;
	padding: 0 12px 0 4px;
	font-family: "HelveticaNeueLTStd Bd", Helvetica, Ariel, sans-serif;
	font-size: 12px;
	color: #fff;
	line-height: 30px;
	height: 30px;
	overflow: hidden;
	display: inline-block;
}

.panel {
	border: #aeadaf 1px solid;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin: 17px 8px 20px 8px;
	box-shadow: #ebedee 0 2px 5px inset;
	-webkit-box-shadow: #ebedee 0 2px 5px inset;
	-moz-box-shadow: #ebedee 0 2px 5px inset;
	background-color: #fafcfd;
	padding: 15px 15px 1px 20px !important;
}

.panel .title {
	font-family: Helvetica, Ariel, sans-serif;
	font-weight: bold;
	font-size: 15px;
	color: #3d3131;
	line-height: 20px;
}

.panel .customer {
	font-family: Helvetica, Ariel, sans-serif;
	font-size: 15px;
	color: #3d3131;
	line-height: 20px;
    height: 20px;
}

.panel .widget .widget-body.list ul li span {
	margin: 10px 0 0 0;
	padding: 0 0 0 10px;
	font-family: Helvetica, Ariel, sans-serif;
	font-size: 15px;
	color: #3d3131;
	line-height: 17px;
	float: left;
}

.panel .widget .widget-body.list ul li .count {
	font-weight: bold;
	font-size: 18px;
	color: #ca4e48;
	vertical-align: middle;
}

.panel .row-fluid {
	margin-top: 3px;
	margin-left: 9px;
}

.slider-img {
	margin: -28px 11px 3px 13px;
	padding: 15px 0 15px 12px;
	height: 115px;
	overflow: hidden;
}

.slider-img ul li {
	margin: 0 45px 45px 0;
	width: 148px;
	height: 99px;
	float: left;
	position: relative;
	list-style: none;
}

.slider-img ul li a {
	border: #fafcfd 7px solid;
	box-shadow: #afadaf 0 0 4px;
	-moz-box-shadow: #afadaf 0 0 4px;
	-webkit-box-shadow: #afadaf 0 0 4px;
	width: 134px;
	height: 85px;
	display: block;
	position: relative;
}

.slider-img ul li a img {
	width: 134px;
	height: 85px;
}

.slider-img ul li .plus {
	background-image: url("../images/icon-plus.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 44px;
	height: 44px;
	display: inline-block;
	top: -18px;
	right: -20px;
	position: absolute;
	z-index: 10;
}

.slider-img ul li .desc {
	background-image: url("../images/slider-desc.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	padding: 5px 12px;
	font-family: Helvetica, Ariel, sans-serif;
	font-weight: bold;
	font-size: 11px;
	color: #606060;
	line-height: 31px;
	text-align: center;
	width: 95px;
	height: 31px;
	display: block;
	bottom: -24px;
	left: 8px;
	position: absolute;
	z-index: 10;
}

.slider-img ul li a:hover .desc, .slider-img ul li a:active .desc {
	display: block;
}

.slider-img ul li a:hover, .slider-img ul li a:active, .slider-img ul li a:focus  {
	border-color: #9ed75a;
}

.jcarousel-container-horizontal {
    padding: 15px 41px 15px 37px;
	height: 115px;
    width: 915px;
}

.jcarousel-clip-horizontal {
    width: 922px;
    height: 115px;
}
.jcarousel-item {
	padding: 13px 0 0 0;
    width: 134px;
	height: 115px;
}

.jcarousel-container-horizontal .jcarousel-next-horizontal {
	z-index: 20;
   position: absolute;
   top: 63px;
   right: 0;
   width: 16px;
   height: 23px;
   cursor: pointer;
   background: transparent url(../images/slider-next.png) no-repeat 0 0;
}

.jcarousel-container-horizontal .jcarousel-prev-horizontal {
	z-index: 20;
   position: absolute;
   top: 63px;
   left: 0;
   width: 16px;
   height: 23px;
   cursor: pointer;
   background: transparent url(../images/slider-prev.png) no-repeat 0 0;
}

.double {
	margin: 0 -20px 0 0;
	padding: 0 0 7px 0;
	clear: both;
	overflow: hidden;
}

.double .col {
	margin: 0 0 0 7px;
	padding: 0;
	width: 486px;
	float: left;
}

.double .box {
	background-color: #fafcfd;
	border: #a8a7aa 1px solid;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow: #ebeced 0 2px 4px inset;
	-moz-box-shadow: #ebeced 0 2px 4px inset;
	-webkit-box-shadow: #ebeced 0 2px 4px inset;
}

.double .box.tabber {
	padding-bottom: 0;
}

.double .box .scrolled {
	height: 483px;
	overflow: auto;
}

.double .box.tabber .scrolled {
	height: 447px;
}

.double .box .line {
	border-bottom: #f0ede9 2px solid;
	padding: 10px 21px 7px 191px;
	font-family: Helvetica, Ariel, sans-serif;
	font-size: 12px;
	color: #292424;
	line-height: 15px;
}

.double .box .line.last {
	border: none;
	padding-left: 21px;
	color: #201d1d;
}

.double .box a {
	color: #292424;
}

.double .box .line .title {
	margin-left: -170px;
	font-weight: bold;
	color: #201d1d;
	width: 170px;
	float: left;
}

.double .box .line .title a {
	color: #201d1d;
}

.double .box .line.last .title {
	margin-left: 0;
	padding-bottom: 10px;
	display: block;
	float: none;
}

.tabber .widget .widget-head {
	background: none;
	border: none;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	background-image: url(../images/bg.gif);
	background-position: 0 0;
	background-repeat: repeat;
	text-shadow: none;
	height: 29px;
	line-height: 29px;
	margin: -1px;
	padding: 0 2px;
}

.tabber  .widget.widget-tabs .widget-head ul, .tabber  .widget.widget-tabs .widget-head ul li {
	background: none;
	border: none;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

.tabber  .widget.widget-tabs .widget-head ul li {
	margin: 0 3px 0 0;
}

.tabber  .widget.widget-tabs .widget-head ul li a, .tabber .widget.widget-tabs .widget-head ul li:first-child a {
	width: 173px;
	height: 28px;
	padding: 0;
	color: #939393;
	text-align: center;
  	font-family: Helvetica, Ariel, sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: #201d1d;
	line-height: 29px;
	border: #737274 1px solid;
	-webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	background: #e8e9e9; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4ZTllOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iI2VlZjBmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkN2Q4ZDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #e8e9e9 0%, #eef0f1 44%, #d7d8d9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e9e9), color-stop(44%,#eef0f1), color-stop(100%,#d7d8d9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e8e9e9 0%,#eef0f1 44%,#d7d8d9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e8e9e9 0%,#eef0f1 44%,#d7d8d9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e8e9e9 0%,#eef0f1 44%,#d7d8d9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e8e9e9 0%,#eef0f1 44%,#d7d8d9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e9e9', endColorstr='#d7d8d9',GradientType=0 ); /* IE6-8 */
	border-bottom: none;

}

.tabber .widget.widget-tabs .widget-head ul li.active a {
	background: none;
	background-color: #f7f9fa;
}

.tabber .widget.widget-2 .widget-body  {
	border: none;
}

.tabber .widget.widget-2 .widget-body .tab-pane {
	border: none !important;
	border-top: #a8a7aa 1px solid !important;
	-webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	padding: 3px 0;
}

.double .box.tabber .line {
	padding: 10px 21px 8px 185px;
}

.double .box.tabber .line.last {
	padding-left: 15px;
}

.layer {
	background-image: url(../images/layer.png);
	background-position: 0 0;
	background-repeat: repeat;
	width: 100%;
	height: 100%;
	display: none;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 50;
}

.popup-gallery {
	margin-left: -322px;
	width: 654px;
	display: none;
	top: 20%;
	left: 50%;
	position: absolute;
	z-index: 60;
}

.popup-gallery .popup-content {
	position: relative;
}

.popup-gallery .popup-close {
	background-image: url(../images/icon-close.png);
	background-position: 0 0;
	background-repeat: repeat;
	width: 35px;
	height: 36px;
	display: block;
	top: -11px;
	right: -18px;
	position: absolute;
	z-index: 60;
}

.popup-gallery .current-img {
	margin-bottom: 10px;
	text-align: center;
    border: #fafcfd 9px solid;
    box-shadow: #696a6a 0 0 5px;
    -moz-box-shadow: #696a6a 0 0 5px;
    -webkit-box-shadow: #696a6a 0 0 5px;
    background: #fff;
}

.popup-gallery .current-img img {

	max-width: 634px!important;
    max-height: 429px!important;
}

.popup-gallery .gallery-slider {
	background-color: #fafcfd;
	padding: 19px 50px 0 51px;
	height: 124px;
	clear: both;
	overflow: hidden;
	position: relative;
    width: 550px;
}

.popup-gallery .jcarousel-clip-horizontal {
	width: 520px;
	height: 130px;
	overflow: hidden;
	margin-left: 20px;
	margin-top: -10px;
}

.popup-gallery .jcarousel-item {
	width: 182px;
	padding-left: 0;
	padding-right: 0;
}

.popup-gallery .gallery-slider .jcarousel-prev-horizontal {
	background: transparent url(../images/slider-gal-prev.png) no-repeat 0 0;
	width: 35px;
	height: 36px;
	display: block;
	top: 52px;
	left: 16px;
	position: absolute;
	z-index: 10;
}

.popup-gallery .gallery-slider .jcarousel-next-horizontal {
	background: transparent url(../images/slider-gal-next.png) no-repeat 0 0;
	width: 35px;
	height: 36px;
	display: block;
	top: 52px;
	right: 10px;
	position: absolute;
	z-index: 10;
}

.popup-gallery .gallery-slider ul li {
	margin: 0 0 33px 0;
	float: left;
	list-style: none;
}

.popup-gallery .gallery-slider ul li a {
	background-color: #fafcfd;
	border: #d2d3d4 1px solid;
	box-shadow: #d2d3d4 0 0 4px;
	-moz-box-shadow: #d2d3d4 0 0 4px;
	-webkit-box-shadow: #d2d3d4 0 0 4px;
	padding: 7px;
	width: 134px;
	height: 85px;
	display: block;
}

.popup-gallery .gallery-slider ul li a img {
	width: 134px;
	height: 85px;
}

.popup-gallery .gallery-slider ul li a:hover, .popup-gallery .gallery-slider ul li.selected a {
	background-color: #000;
}
/*
.container-new h3 {
	margin: 0;
	padding: 0 0 5px 3px;
	font-family: Helvetica, Ariel, sans-serif;
	font-weight: bold;
	font-size: 15px;
	color: #3d3131;
	line-height: 17px;
	text-shadow: none;
}
*/
.container-new .left-bar h3 {
	padding-left: 12px;
}

.container-new .left-bar {
	margin: 35px 0 0 27px !important;
	padding: 0 !important;
	width: 357px !important;
	float: left;
}

.container-new .right-bar {
	margin: 35px 29px 0 0 !important;
	padding: 0 !important;
	width: 608px !important;
	float: right;
}

.container-new #datepicker-inline {
	box-shadow: #9a9b9c 0 2px 4px;
	-moz-box-shadow: #9a9b9c 0 2px 4px;
	-webkit-box-shadow: #9a9b9c 0 2px 4px;
	margin: 8px 0 25px 0;
	width: 235px;
}

.container-new .left-bar .box {
	padding: 33px 72px 35px 46px;
}

.container-new .left-bar .label {
	padding-bottom: 8px;
}

.container-new .left-bar .row-fluid {
	margin-left: 0;
	margin-bottom: 24px;
}

.container-new  .left-bar .buttons {
	margin: 0 3px 3px 0;
}

.container-new .btn-dark {
	border: none;
	padding: 0 6px 0 10px;
	font-family: Helvetica, Ariel, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #fff !important;
	text-align: center;
	line-height: 26px;
	text-shadow: #0e0e0e 0 -1px 2px;
	height:	26px;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	background: #2a2a2a; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMyYTJhMmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMwZTBlMGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #2a2a2a 50%, #0e0e0e 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#2a2a2a), color-stop(50%,#0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2a2a2a 50%,#0e0e0e 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2a2a2a 50%,#0e0e0e 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2a2a2a 50%,#0e0e0e 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #2a2a2a 50%,#0e0e0e 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2a2a', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-8 */
}

.container-new .btn-green {
	border: #6f7e5f 1px solid;
	padding: 0 11px 0 8px;
	font-family: Helvetica, Ariel, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #fff !important;
	text-align: center;
	line-height: 25px;
	text-shadow: #628b31 0 -1px 2px;
	height:	25px;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	background: #82b641; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiM4MmI2NDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiM2NzkxMzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #82b641 50%, #679134 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#82b641), color-stop(50%,#679134)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #82b641 50%,#679134 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #82b641 50%,#679134 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #82b641 50%,#679134 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #82b641 50%,#679134 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82b641', endColorstr='#679134',GradientType=0 ); /* IE6-8 */
	text-decoration: none !important;
}

.container-new .btn-red {
	border: #6f7e5f 1px solid;
	padding: 0 11px 0 10px;
	font-family: Helvetica, Ariel, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #fff !important;
	text-align: center;
	line-height: 25px;
	text-shadow: #8d0a23 0 -1px 2px;
	height:	25px;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	background: #b20e2e; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNiMjBlMmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiM2NTA3MTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #b20e2e 50%, #650719 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#b20e2e), color-stop(50%,#650719)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b20e2e 50%,#650719 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b20e2e 50%,#650719 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b20e2e 50%,#650719 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #b20e2e 50%,#650719 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b20e2e', endColorstr='#650719',GradientType=0 ); /* IE6-8 */
	text-decoration: none !important;
}

.container-new .dates {
	font-size: 12px;
	color: #201d1d;
	line-height: 14px;
}

.container-new .table-cleared {
    border-radius: 3px !important;
	-webkit-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	padding: 0;
	margin: 0;
	width: 100%;
	border: #a9a9ab 1px solid;
}

.container-new .table-cleared .scrolled {
	height: 570px;
	overflow: auto;
}

.container-new table.dynamicTable.table-cleared thead tr th {
	padding: 14px 8px 12px 24px;
	border-left: #608d2a 1px solid;
	border-right: #78a343 1px solid;
}

.container-new table.dynamicTable.table-cleared thead tr th:first-child {
	border-left: none;
}

.container-new table.dynamicTable.table-cleared thead tr th:last-child {
	border-right: none;
}

.container-new table.dynamicTable.table-cleared tbody tr td {
	background-color: #fafcfd;
	padding: 8px 0 11px 21px;
	color: #201d1d;
	border: none;
	border-top: #f0ede9 1px solid;
}

.container-new table.dynamicTable.table-cleared tbody tr:nth-child(even) td {
	background-color: #fafcfd;
}

.container-new table.dynamicTable.table-cleared .btn {
	margin-right: 9px;
	float: right;
}


.note-header table{
    padding-bottom: 5px;
    display: block;
}
.note-header table tr td.notes-title{
    color: #86BD43;
    float: left;
    font-weight: bold;
    width: auto;
    float: left;

}
.note-header table tr td.notes-title-added{
    width: 60px;

}
.note-header table tr td.notes-title-date{
    width: 130px;

}
.note-header table tr td.notes-title-time{
    width: 130px;

}


.note-header table tr td span.note-text{
    color: #201D1D;
    width: auto;
    font-weight: normal;
    text-align: left;
    padding-left: 4px;
}

.note-header table tr td.note-text-name{
width: 105px;
}




